data/news/

PLIP/data/*
PLIP/checkpoints/*
token.txt
PLIP/__pycache__

data/
models/
results/
utils/LiT-B16B.npz
utils/__pycache__/
utils/lip_processing/LiT-B16B.npz
utils/lip_processing/PLIP/__pycache__/
utils/lip_processing/PLIP/checkpoints/PLIP_RN50.pth.tar
utils/lip_processing/PLIP/__pycache__/
__pycache__/
utils/lip_processing/__pycache__/
LiT-B16B.npz
note.txt
Test_1/
Miniconda3-latest-Linux-x86_64.sh
environment.yml


notebooks/OCR_Processing/LiT-B16B.npz
