data/new*/
models/
utils/[omitted]/
video/
results/
utils/LiT-B16B.npz
utils/__pycache__/
utils/lip_processing/LiT-B16B.npz
utils/lip_processing/PLIP/__pycache__/
utils/lip_processing/PLIP/checkpoints/PLIP_RN50.pth.tar
utils/lip_processing/models/__pycache__/
utils/lip_processing/PLIP/__pycache__/
__pycache__/
utils/lip_processing/__pycache__/
LiT-B16B.npz
note.txt
Test_1/
Miniconda3-latest-Linux-x86_64.sh
environment.yml
utils/Image_Cationing
utils/Image_Cationing.ipynb
submission
submission_blip
submission_clip
submission_lit
submission_blip.zip
submission_clip.zip
submission_lit.zip
submission.zip
queries-p*/
Fast_backend.ipynb
selected-query.txt
templates/tung_test_api/
templates/*.js
templates/*.html
templates/*.css
.vscode
utils/asr/
Nhan_ImgCap.py
Nhan_OCR.py
utils/Ctrl_F.py
data/dicts/info_Thuan_old.json
data/dicts/info_Thuan.json
data/dicts/info_ocr.txt
data/dicts/mapData.json